* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 40px;
  background-color: #151515;
  font-family: "Lato", sans-serif;
}
h2 {
  color: #f3f3f3;
  text-align: center;
  font-size: 48px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin: 0 auto;
}
.card {
  border: 1px solid #4b5362;
  border-radius: 10px;
  background-color: #31363f;
  min-height: 100px;
  margin: 10px;
  padding: 20px;
}
button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 30px;
  text-align: right;
}
button:hover {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  width: 100%;
}
